.SearchBarContainer {
  background-color: white;
  padding: 60px 0;
}

.searchBar {
  background-color: #e9eef3;
  width: 94%;
  border-radius: 30px;
  border: none;
  padding: 20px 40px;
  font-size: 18px;
}

textarea:focus,
input:focus {
  outline: none;
}
