.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 24px;
}

.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.text-center {
  text-align: center;
}
.gap-2 {
  gap: 10px;
}
